@CHARSET "UTF-8";
/**
 *	ADD CUSTOM COMPONENTS AND NON-BOOTSTRAP-EXTENSIONS HERE 
 */
/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:: TILE BOXES :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
.tile-box 
{
	border-radius: 2px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.tile-box > a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

.tile-box .inner 
{
	padding: 10px;
}

.tile-box > .tile-box-footer 
{
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

.tile-box > .tile-box-footer:hover 
{
	color: #fff;
	background: rgba(0, 0, 0, 0.15);
}

.tile-box h3 
{
	font-size: 38px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0;
}

.tile-box p 
{
	font-size: 15px;
}

.tile-box p > small 
{
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px;
}

.tile-box h3,
.tile-box p 
{
  z-index: 5;
}

.tile-box .icon 
{
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 0;
	font-size: 50px;
	color: rgba(0, 0, 0, 0.15);
}

.tile-box:hover 
{
	text-decoration: none;
	color: #f9f9f9;
}

.tile-box:hover .icon 
{
	font-size: 75px;
}

@media (max-width: 767px) 
{
	.tile-box 
	{	
		text-align: center;
	}
	
	.tile-box .icon 
	{
		font-size: 25px;
	}
	
	.tile-box:hover .icon 
	{
		font-size: 50px;
	}

	.tile-box p 
	{
		font-size: 12px;
	}
}

/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:: MAGNIFIER ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */

/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:: BUTTONS WITH ARROWS ::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:: BREADCRUMP WITH ARROWS :::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
.breadcrumb-arrow {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}

.breadcrumb-arrow a {
	text-decoration: none;
	text-align: center;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}

.breadcrumb-arrow a.disabled
{
	pointer-events: none ;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb-arrow a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb-arrow a:first-child:before {
	left: 14px;
}
.breadcrumb-arrow a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb-arrow a.active, .breadcrumb-arrow a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb-arrow a.active:after, .breadcrumb-arrow a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumb-arrows using rotated pseudo elements*/
.breadcrumb-arrow a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb-arrow a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb-arrow a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb-arrow a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat  a:hover:after, .flat a.active:after{
 	background: #9EEB62; 
}

.bg-guide
{
    background-color: #c1e2b3;
    color:rgb(119, 119, 119);
}

.bg-guide h3
{
    color: rgb(119, 119, 119);
}

.bg-guide p
{
    color: rgb(119, 119, 119);
}

.bg-blue_light
{
    background-color: #d9edf7;
    color:rgb(119, 119, 119);
}

.bg-blue_light h3
{
    color: rgb(119, 119, 119);
}

.bg-blue_light p
{
    color: rgb(119, 119, 119);
}

#hint_debitor_infos
{
    background-color: #c1e2b3;
    color:rgb(119, 119, 119);
}


.ui-draggable-helper {
	border: 1px dotted #000;
	padding: 6px;
	background: #D4ECF8;
	word-spacing: 30px;
}


.dtrg-group td{
	background-color: #d4ecf8 !important;
	/*border-color: #b7dff3 !important;*/
	color: #3b444f !important;
	font-weight: normal !important;
}

.dtrg-group-custom td{
	background-color: #d4ecf8 !important;
	border-color: #b7dff3 !important;
	color: #3b444f !important;
	font-weight: normal !important;
}


/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..::  COST ESTIMATE STATES  :::::::::::::::::::::::::::::::::::::::::::::::.. */
/* ..:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.. */

.cost-estimate-display-bubble{
	vertical-align: middle;
	color: transparent;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	width: 28px;
	height: 28px;
}

.cost-estimate-display-bubble.not-requested-yet{
	border: #b7dff3 3px solid;
}

.cost-estimate-display-bubble.sent-back{
	background: #1c6186;
}

.cost-estimate-display-bubble.requested{
	background: #c46434;
}

.cost-estimate-display-bubble.rejected{
	background: #b6322d;
}

.cost-estimate-display-bubble.partial-approval{
	background: linear-gradient(to bottom, #2d954f 0%, #2d954f 50%, #b6322d 50%, #b6322d 100%);
}

.cost-estimate-display-bubble.approved{
	background: #2d954f;
}

.cost-estimate-display-bubble.delivered{
	background: #ffbc3c;
}

.cost-estimate-display-bubble.failed-delivered{
	background: #000000;
}

.cost-estimate-display-bubble-text{
	color: #000000;
	font-weight: bolder;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#prescription_form_kv_state{
	border-radius: 0 !important;
	width: 40% !important;
}

.formatted-prescription-history {
	height: 300px !important;
	overflow-y: auto !important;
	white-space:pre-wrap !important;
}

.delivery-plan-info td{
	width: 30% !important;
}

.popover {
	width: 35%;
	max-width:var(--max-width-desktop);

}



.form-group.minimal-label {
	padding: 0 0.5em 0 0.5em;
	margin-bottom: 0;
	line-height: 0.8;
}

.form-group.minimal-label .checkbox-inline{
	margin-top: 1em;
}
.form-group.minimal-label>label {
	top:  2.2em;
	left: 0.4em;
	position: relative;
	background-color: white;
	padding: 0 5px 0 5px;
	font-size: 1.1em;
	transition: 0.2s;
	pointer-events:none;
	z-index: 3;
}

.form-group.minimal-label.label-min>label {
	top: 0.8em !important;
	left: 1em !important;
	font-size: 0.9em;
}

.prescription_assignment_panel{
	width:100%;
	height: 250px;
	overflow:hidden;
	background-color: #f6f7f9;
	border: 1px solid #b7dff3;
	/*margin:0;
	padding:0;*/
}

.prescription_product_table{
	color: #023a78;
}

.popover {
	position: absolute;
	top: 0;
	left: 200px !important;
	z-index: 1060;
	display: none;
	max-width: 500px !important;
	min-width: 500px !important;
	width:500px !important;
	padding: 1px;
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 15px;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
.popover.top {
	margin-top: -10px; }
.popover.right {
	margin-left: 10px; }
.popover.bottom {
	margin-top: 10px; }
.popover.left {
	margin-left: -10px; }

.popover > .arrow {
	border-width: 11px;
	left: 35% !important;}

.is_deleted {
	background-color: #CCCC00 !important;
}

.border-red {
	border-color: #FF4136; }

td.articles-details-control-closed {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACjElEQVR4Aa2V30uTURjHnVBUgglCaXVTJJVLMdhQm7+1JEvJiKAggmgSQiKJl0V0E13UVf0HQZmBLcvlpqa55tqV0YoMzIhY6js0yDH11X17vuO8Sq5Zgl/48DznPD/G63nOMSmBkoUNwhYhTUgn9NUeY8z5p0wqOVXYKRwQLMJhhYV7Kpaqck2rNdskbBPMdrv9osfjcQaDwW/RaHSR0OceY8xhrqox/a3ZZmGHkO9wOB7ouj6PBGKMOcxlzcqmdDYKGZmZmSWjo6PvIYosRuDWXGj50IwTb4+hxleN5sAVvJh4jvBCGBRzWSO121UPk3EAaUKuz+d7ycTp+Wnc/nwL1d4qHBVidmjZv/npBkJzGiiv19vFWmGrcVDsvKupqeky/056VMf1j9dQOViBKo9Aa/ixdbnYcrQGWsBc1jQ2NtrZQ/VKShHM8kvdEPVN9qJsoBRl/aUoHyiJ+UpcCxJTtmfCDYoHJT2yYyOlPtcaCoUmGGwdbkVRbxGK+2y0gg2GisUvNmJCy/BVUJqm/eBIxXqpgbUtiBise12HQlc+ClwFSKRCiZH6wXpQs7OzETWn6XENa/trYemywuK0IpGsTotgRU3fcVBzouWG6pOnpqY0BhuGGpDXeUjIW7JKcfuX3tjjP9k4FBkZN4PtY+042JGzzNMcGDJ35C7tmcU++tJmjE63OpSUuLEJ62GcfXUO+59kr8rJnlOY0WfAGtYaY/PHYPv9fhdEY7++4nz/BWS17UPWY0Es2avWp3vOYOTnCCheBtaqHskJr95kZBL3AvdR2XkEex5mYbdQ+qwCd97dRTAcXHn1Moyrt16PA2tN//V8jY+Pf4cS/VWerzU9sDay1gd2Xf4F/AZqlpeB9836LwAAAABJRU5ErkJggg==) no-repeat center center;
	cursor: pointer;
}

td.articles-details-control-open {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACdUlEQVR4Aa2V30tTYRjHVSgsoQKhXPUPlKZMlImiIIg/pggiiDeCBAdqyC4Kf9zVhVdeelX33QnCbtYvxZsxxkoqKxiz1SzdFudMb5xO5/bt+fa+sPCw3IVf+PA+532e5ytn53lfK0qoSrggXBauCbUKxtxjjjVnq1IXXxFuCXeEFqGdMOYec6zRtZX/M6sWrgv1hmHcDwQCLxOJxM9CoZAnjLnHHGt0bbXdVG1cEm4KLp/P9yKXyx2jhJhjDWvZc9qUwUWhzuFwdMVisc8QFQ4PcbCygvT0NJLDw0gNDSH96DEyfj8KmQwo1rJHem8oD2VapX/sxlAo9Aqi/N4e9hYWsDMwgARxD2DH7ZZYren5eZxYFqhgMOhnr3BVeSnn216v98Hf3yqXg/X0CX719YFs9/WquJfPGtkzZ2fBWvZ4PB6DHtqrokaol7/0GqLM2hq2enpsxMmpvf3VVVD8UOJxV42Uet1Wy7J+M5mam8P37u6ySM7MgDJNM8mRUl5qYDtOREz+GB3FZlcXNjs7UUrMk/jYGKhsNnuo57TWZhgTw0hHO0EpRdpV/tvICKgjUdFQv/Lu7q7JZHxqCl9dLqGtSJtL4VJ80Wvc8xD2V9YfRUbmLZPp5WVstLTYaSWt+lmt1tISKH5Q/VFqbGOTl6GNTk7iQ3Oz4FSrU8UfuTqdBJHxceQz+2APe/8Zm+Jgh8PhNxBlt7YQNQysNzVivbEJ7wXGiiZEJiZwEI2C4mFgr/aoKnn0jk0TiWfPsTE4iHcN9xBuaMCn/n5sLy7iKJk8ffTqikfvfC4H9laWdX2lUqltaDEu9/o664LtIOVfsOf4L+APb5yaiwyN8+8AAAAASUVORK5CYII=) no-repeat center center;
	cursor: pointer;
}

.order_changes_preview {
	color: #FF4136;
	font-width: bold;
}